In [106]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot

In [107]:
train_df = pd.read_csv('../../Data/house-prices-advanced-regression-techniques/train.csv')
test_df = pd.read_csv('../../Data/house-prices-advanced-regression-techniques/test.csv')

In [108]:
train_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [76]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [77]:
train_df.shape, test_df.shape

((1460, 81), (1459, 80))

In [79]:
fullData = pd.concat([train_df[test_df.columns], test_df], axis=0)

In [81]:
fullData

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [82]:
fullData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2919 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     1153 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 1.8+ MB

In [83]:
print("Columns Have NAN Value")
print('='*30)
for col in list(fullData.columns):
    if fullData[col].isna().sum() > 0:
        print(f"{col} ===>> has '{fullData[col].isna().sum()}' NaN values")

Columns Have NAN Value
==============================
MSZoning ===>> has '4' NaN values
LotFrontage ===>> has '486' NaN values
Alley ===>> has '2721' NaN values
Utilities ===>> has '2' NaN values
Exterior1st ===>> has '1' NaN values
Exterior2nd ===>> has '1' NaN values
MasVnrType ===>> has '1766' NaN values
MasVnrArea ===>> has '23' NaN values
BsmtQual ===>> has '81' NaN values
BsmtCond ===>> has '82' NaN values
BsmtExposure ===>> has '82' NaN values
BsmtFinType1 ===>> has '79' NaN values
BsmtFinSF1 ===>> has '1' NaN values
BsmtFinType2 ===>> has '80' NaN values
BsmtFinSF2 ===>> has '1' NaN values
BsmtUnfSF ===>> has '1' NaN values
TotalBsmtSF ===>> has '1' NaN values
Electrical ===>> has '1' NaN values
BsmtFullBath ===>> has '2' NaN values
BsmtHalfBath ===>> has '2' NaN values
KitchenQual ===>> has '1' NaN values
Functional ===>> has '2' NaN values
FireplaceQu ===>> has '1420' NaN values
GarageType ===>> has '157' NaN values
GarageYrBlt ===>> has '159' NaN values
GarageFinish ===>> has '159' NaN values
GarageCars ===>> has '1' NaN values
GarageArea ===>> has '1' NaN values
GarageQual ===>> has '159' NaN values
GarageCond ===>> has '159' NaN values
PoolQC ===>> has '2909' NaN values
Fence ===>> has '2348' NaN values
MiscFeature ===>> has '2814' NaN values
SaleType ===>> has '1' NaN values

In [84]:
missing_values = fullData.isnull().sum()
missing_values = missing_values[missing_values > 0] 
missing_percent = (missing_values / len(fullData)) * 100
missing_info = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percent})
missing_info

              Missing Values  Percentage
MSZoning                   4    0.137033
LotFrontage              486   16.649538
Alley                   2721   93.216855
Utilities                  2    0.068517
Exterior1st                1    0.034258
Exterior2nd                1    0.034258
MasVnrType              1766   60.500171
MasVnrArea                23    0.787941
BsmtQual                  81    2.774923
BsmtCond                  82    2.809181
BsmtExposure              82    2.809181
BsmtFinType1              79    2.706406
BsmtFinSF1                 1    0.034258
BsmtFinType2              80    2.740665
BsmtFinSF2                 1    0.034258
BsmtUnfSF                  1    0.034258
TotalBsmtSF                1    0.034258
Electrical                 1    0.034258
BsmtFullBath               2    0.068517
BsmtHalfBath               2    0.068517
KitchenQual                1    0.034258
Functional                 2    0.068517
FireplaceQu             1420   48.646797
GarageType               157    5.378554
GarageYrBlt              159    5.447071
GarageFinish             159    5.447071
GarageCars                 1    0.034258
GarageArea                 1    0.034258
GarageQual               159    5.447071
GarageCond               159    5.447071
PoolQC                  2909   99.657417
Fence                   2348   80.438506
MiscFeature             2814   96.402878
SaleType                   1    0.034258

Cleaning Dataset

In [85]:
num_cols = fullData.select_dtypes(include=['float64', 'int64']).columns.tolist()
cat_cols = fullData.select_dtypes(include=['object']).columns.tolist()
int_cols = fullData.select_dtypes(include=['int64']).columns.tolist()
float_cols = fullData.select_dtypes(include=['float64']).columns.tolist()

In [86]:
# Replace infinite values with NaN to handle them uniformly
fullData[float_cols] = fullData[float_cols].replace([np.inf, -np.inf], np.nan)

In [87]:
# Fill NAN Value
fullData[float_cols] = fullData[float_cols].fillna(fullData[float_cols].median())

In [88]:
fullData[float_cols] = fullData[float_cols].round()
fullData[float_cols] = fullData[float_cols].astype('int64')

In [89]:
from AutoClean import AutoClean

pp = AutoClean(fullData[int_cols+float_cols+cat_cols])
df_out = pp.output

AutoClean process completed in 8.2994 seconds
Logfile saved to: M:\Data_Science\Code\Projects\autoclean.log

In [90]:
keep_cols = df_out.select_dtypes(include=['bool', 'int64']).columns

data_cleaned = df_out[keep_cols]

In [99]:
data_cleaned

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,LowQualFinSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,HeatingQC_Ex,HeatingQC_Fa,HeatingQC_Gd,HeatingQC_Po,HeatingQC_TA
0,1,60,8450,7,5,2003,2003,856,854,0,...,False,False,False,False,True,True,False,False,False,False
1,2,20,9600,6,7,1976,1976,1262,0,0,...,False,False,False,False,True,True,False,False,False,False
2,3,60,11250,7,5,2001,2002,920,866,0,...,False,False,False,False,True,True,False,False,False,False
3,4,70,9550,7,5,1915,1970,961,756,0,...,False,False,False,False,True,False,False,True,False,False
4,5,60,14260,8,5,2000,2000,1145,1053,0,...,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,145,1936,4,7,1970,1970,546,546,0,...,False,False,False,False,True,False,False,True,False,False
2915,2916,145,1894,4,5,1970,1970,546,546,0,...,False,False,False,False,True,False,False,False,False,True
2916,2917,20,17708,5,7,1960,1996,1224,0,0,...,False,False,False,False,True,True,False,False,False,False
2917,2918,85,10441,5,5,1992,1992,970,0,0,...,False,False,False,False,True,False,False,False,False,True
2918,2919,60,9627,7,5,1993,1994,996,1004,0,...,False,False,False,False,True,True,False,False,False,False

In [103]:
data_cleaned_train = data_cleaned.iloc[:len(train_df)]
data_cleaned_test = data_cleaned.iloc[len(train_df):]

In [104]:
train_df

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,LowQualFinSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,HeatingQC_Ex,HeatingQC_Fa,HeatingQC_Gd,HeatingQC_Po,HeatingQC_TA
0,1,60,8450,7,5,2003,2003,856,854,0,...,False,False,False,False,True,True,False,False,False,False
1,2,20,9600,6,7,1976,1976,1262,0,0,...,False,False,False,False,True,True,False,False,False,False
2,3,60,11250,7,5,2001,2002,920,866,0,...,False,False,False,False,True,True,False,False,False,False
3,4,70,9550,7,5,1915,1970,961,756,0,...,False,False,False,False,True,False,False,True,False,False
4,5,60,14260,8,5,2000,2000,1145,1053,0,...,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,7917,6,5,1999,2000,953,694,0,...,False,False,False,False,True,True,False,False,False,False
1456,1457,20,13175,6,6,1978,1988,2073,0,0,...,False,False,False,False,True,False,False,False,False,True
1457,1458,70,9042,7,7,1941,2006,1188,1152,0,...,False,False,False,False,True,True,False,False,False,False
1458,1459,20,9717,5,6,1950,1996,1078,0,0,...,False,False,False,False,True,False,False,True,False,False
1459,1460,20,9937,5,6,1965,1965,1256,0,0,...,False,False,False,False,True,False,False,True,False,False

In [109]:
from sklearn.model_selection import train_test_split

X = data_cleaned_train.drop(['Id'], axis=1)
y = train_df['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [115]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

In [116]:
model = XGBRegressor(random_state=42)
model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=42, ...)

In [117]:
y_pred = model.predict(X_test)

array([148439.6  , 310484.88 , 110637.25 , 178149.6  , 298026.8  ,
        81680.56 , 220487.33 , 147036.6  ,  78469.664, 120570.43 ,
       141411.48 , 121327.17 , 119654.51 , 214060.77 , 167268.39 ,
       134723.31 , 191099.52 , 139095.72 , 119616.61 , 202535.8  ,
       133986.31 , 216277.7  , 176453.11 , 127218.98 , 197973.64 ,
       161933.42 , 192909.28 , 104451.74 , 167844.77 , 191443.5  ,
       131120.86 , 260375.72 , 193704.8  , 115416.19 , 256340.47 ,
       151670.62 , 126218.336, 208829.94 , 326160.6  , 110096.586,
       122722.52 , 234484.25 , 115646.09 , 391737.2  , 123097.02 ,
       126135.875, 110943.13 , 127404.25 , 476611.9  , 138689.2  ,
       118843.875, 199672.36 , 113428.98 , 323669.53 , 144688.6  ,
       244860.   , 196116.34 , 146328.28 , 137478.11 ,  97337.766,
        79570.42 , 151343.11 , 308510.78 , 287047.66 , 294303.16 ,
       239660.   , 117820.59 , 369878.6  , 107142.305, 166114.8  ,
       120795.93 , 118466.74 , 109227.9  ,  86328.57 , 457639.8  ,
       177240.34 , 325898.06 , 328019.72 , 143909.42 , 113389.88 ,
       102262.08 ,  81305.234, 113587.555,  94883.2  , 140280.36 ,
       132009.75 , 259782.42 , 192100.02 , 140883.1  , 166369.27 ,
       136819.25 , 147564.08 , 121211.55 , 295547.1  , 111788.44 ,
       165132.67 , 178600.22 , 161739.8  , 216069.39 , 201340.27 ,
       183632.97 , 215417.38 , 296162.84 , 124603.65 , 209170.3  ,
       158055.31 , 153320.   , 273519.9  , 139412.14 , 163006.84 ,
        52829.246, 126669.94 , 141146.2  , 142304.16 , 213948.44 ,
       111169.81 , 110366.18 , 102070.375, 136977.27 , 257859.03 ,
       152698.39 , 140210.7  , 171974.52 , 210692.52 , 176860.9  ,
       140604.7  , 229166.   , 111239.875, 146689.56 , 179030.22 ,
       187950.67 , 361622.72 , 211744.73 , 119888.35 ,  80622.92 ,
       333886.28 , 388447.   , 129024.484, 214972.25 , 634865.06 ,
       385408.75 , 128872.81 , 167272.75 , 150309.64 , 137185.72 ,
       124057.414, 232714.72 , 193497.45 , 122261.055,  53100.777,
       119065.984, 130072.34 , 230572.14 , 148516.88 , 104149.92 ,
       130671.8  , 151071.08 , 148439.12 ,  97034.54 , 131691.9  ,
       208964.4  , 159668.39 , 317863.62 , 163193.16 ,  99008.3  ,
        96839.01 , 189402.52 , 382590.66 , 433744.4  , 191878.38 ,
       348502.84 ,  89491.336, 114285.586, 163176.2  , 351455.78 ,
       128097.664, 126058.19 , 213917.14 , 121133.18 , 172933.   ,
       163984.08 ,  98393.625, 140933.58 , 131481.12 , 273815.03 ,
       143297.08 , 307828.62 , 200172.94 , 202450.64 ,  82591.445,
       119979.32 , 108494.875, 129353.516, 157419.3  , 194396.2  ,
       164398.11 , 232587.3  ,  89655.88 , 208904.69 , 121535.63 ,
       201000.66 , 171490.44 , 125840.914, 341096.78 , 196774.84 ,
       137858.17 , 249269.36 , 139199.27 , 155048.4  , 124941.95 ,
       234726.   , 129419.75 , 116446.77 , 163787.58 , 179652.16 ,
       288848.66 , 172116.03 , 143410.9  ,  97299.85 , 129315.836,
       144656.05 , 231298.   , 212644.86 ,  85582.8  , 237991.53 ,
       153948.47 ,  89490.13 , 105935.32 , 173934.33 ,  87521.33 ,
        99469.49 , 183692.11 , 115560.555, 142928.88 , 242598.9  ,
       122042.07 , 200184.47 , 149098.1  , 241842.47 , 105349.72 ,
       113071.79 , 216258.05 , 201401.19 , 343950.53 , 189761.22 ,
       138320.9  , 144704.83 , 170215.31 , 158531.66 , 110943.2  ,
       164526.47 , 164514.33 , 139283.27 ,  89548.77 , 143211.4  ,
       133468.53 , 106868.125, 117000.09 , 170856.36 , 246675.12 ,
       324978.06 , 163852.75 , 131440.92 , 224773.69 , 236096.53 ,
       204996.39 , 176832.47 , 139869.7  , 104060.54 , 177419.39 ,
       409154.7  , 213026.06 , 228085.95 , 105082.484,  91580.36 ,
       136338.44 , 127728.8  , 309960.03 , 230130.83 , 149023.86 ,
       216070.08 , 102997.61 , 190162.08 , 111417.766, 323884.25 ,
       185513.55 , 225749.7  , 112728.42 , 227689.27 , 173223.28 ,
       136216.83 , 118441.586], dtype=float32)

In [120]:
X_test_data = data_cleaned_test.drop(['Id'], axis=1)

In [122]:
y_pred_submission = model.predict(X_test_data)

In [123]:
df_sub = pd.read_csv('../../Data/house-prices-advanced-regression-techniques/sample_submission.csv')

In [124]:
df_sub['SalePrice'] = y_pred_submission

In [125]:
new_df = df_sub

In [126]:
new_df

        Id      SalePrice
0     1461  132021.015625
1     1462  176171.250000
2     1463  181647.890625
3     1464  192452.781250
4     1465  193923.796875
...    ...            ...
1454  2915   86471.390625
1455  2916   77196.789062
1456  2917  186945.203125
1457  2918  114060.265625
1458  2919  229557.500000

[1459 rows x 2 columns]

In [127]:
new_df.to_csv("submission_2.csv", index=False)